/*------------POLITICAS----------*/

.seccion-pie {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    color: $color-principal;
    text-shadow: 90px 27px 9px rgba(0, 0, 0, 0.6);
    border: 1px solid #1C6EA4;
    border-radius: 20px 20px 20px 20px;

}



