* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 253, 253);

    main {
    
        font-family: 'Source Sans Pro', sans-serif;
        

    }
}

footer {
    background-color: rgb(8, 10, 12);
    color: aliceblue;
}

